@main {
<div class="row-fluid">
	<div class="span3">
		<div class="well sidebar">
			<form>
				<fieldset>
					<legend>Encontre um bom nome</legend>
					<label>O que quer nomear? (quanto mais específico, melhor)</label>
					<textarea id="txtDescription" rows="4">Meu novo gatinho de estimação, um siamês adorável.</textarea>
					<label>Dê algumas sugestões inciais</label>
					<textarea id="txtNames" rows="4">Kiwi, Banana
Rizoma
Monstrão 
Nietzsche								
							</textarea>
					<button id="btnSendNames" type="button" class="btn btn btn-primary">Enviar</button>
				</fieldset>
			</form>
		</div>
		<!--/.well -->
	</div>
	<!--/span-->
	<div class="span9" id="divNames"></div>
	<!--/span-->
</div>
<!--/row-->

<hr>

<footer>
	<p>Craftware 2013</p>
</footer>
}{
	<script src='@routes.Assets.at("javascripts/index.js")'></script> 
}
